/* all */

:root {
  --corAzulButton: #102f5e;
  --corBrancoCinza: #fdfdfd;
  --corCinzaBGeLinha: #fdfdfd4e;
}

* {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  color: black;
}

body {
  background-image: url(../imgs/bgImg11.jpg);
}

#todoConteiner {
  background-color: var(--corCinzaBGeLinha);

  max-width: 45rem;
  min-width: 40rem;
  margin: 6rem auto;
  padding: 1.5rem;
  border-radius: 0.8rem;
  border-bottom: 0.1rem solid var(--corAzulButton);
  border-right: 0.1rem solid var(--corAzulButton);
}

header {
  text-align: center;
  padding-bottom: 2.5rem;
  border-bottom: 0.4rem solid var(--corCinzaBGeLinha);
}

/* form */
#todoForm,
#editForm {
  padding: 1rem;
  border-bottom: 0.2rem solid var(--corCinzaBGeLinha);
}

#todoForm,
#editForm {
  margin-bottom: 2.2rem;
  padding: 1rem 0 1.5rem 0;
}

.formControl {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}



/* form */
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.8rem;
  max-width: 25rem;
}

/* botão de cancelar e os de icone */
button {
  background-color: var(--corBrancoCinza);
  color: var(--corAzulButton);

  border: 0.1rem solid var(--corAzulButton);
  border-radius: 0.3rem;
 
  font-size: 2.1rem;
 
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.4s;
}


i.fa-solid, .fa-thin {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cancelEditButton {
  margin-top: 1.5rem;
  padding: 0.6rem 0.9rem;
}

button i {
  color: var(--corAzulButton);
  font-weight: bold;
  pointer-events: none;
}

button:hover {
  background-color: var(--corAzulButton);
  color: var(--corBrancoCinza);
}

button:hover i {
  color: inherit;
}

input,
select {
  height: 2.8rem;
  padding: 0.6rem 0.9rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
 flex: 1;
 border-bottom: 0.1rem solid var(--corAzulButton);
 border-right: 0.1rem solid var(--corAzulButton);
}

input:hover,
input:focus,
select:hover,
select:focus {
  outline: solid .3rem var(--corAzulButton);
}

.hide {
    display: none;
}

/* tool bar */

#toolBar {
  padding: 1rem 0 1.5rem 0;
  border-bottom: .1rem solid var(--corAzulButton);
  margin-bottom: 2rem;

  display: flex; 
  
}

#search {
  padding-right: 2rem;
  border-right: .1rem solid var(--corCinzaBGeLinha);
}

#search form {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.8rem;
}

#filter {
  padding-left: 2rem;
}

#filterSelect {
  width: 14rem;
}

@media screen and (max-width: 450px) {
  #filterSelect {
    max-width: 11rem;
  }
}

#filterSelect option {
  font-size: 1.4rem;
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem 1.5rem 1rem;
  border-bottom: .1rem solid var(--corAzulButton);
  margin-bottom: 2rem;
}

.done {
  background-color: var(--corAzulButton);
}

.done h3 {
  color: white;
  text-decoration: line-through;
  font-style: italic;
}